@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif;
  --error-bright: rgba(205, 88, 88, 1);
  --error-transparent: rgba(230, 118, 118, 0.21);
  --purple-default: rgba(121, 98, 236, 1);
  --purple-hover: rgba(151, 130, 253, 1);
  --gray-background: rgba(247, 247, 247, 1);
  --white-background: rgba(250, 250, 250, 1);
}

body {
  @apply min-h-dvh font-sans text-zinc-900;
}
