@import "tailwindcss";

@theme {
  /* colors */
  --error-bright: rgba(205, 88, 88, 1);
  --error-transparent: rgba(230, 118, 118, 0.21);
  --purple-default: rgba(124, 60, 228, 1);
  --purple-hover: rgba(151, 97, 238, 1);
}
